.DS_Store
/.idea/

# Random directories containing datasets
dataset
dataset/kidney
dataset/sartorius-cell-instance-segmentation

# Directories where random test images are saved
flagged
results
UNET/saved_images
UNET/checkpoints
my_checkopint.pth.tar